body {
    padding-top: 65px;
}

#mainphoto {
    border: #05F none 3px;
    border-radius: 50%;
    margin: 4%;
}

hr {
    border: #05F groove 3px;
}

.col-center {
    margin: 0 auto;
}

#intro {
    margin: 6% 0;
}

#portfol,
#contact,
#title {
    background-color: #05F;
    color: #000;
}

form>div:nth-child(3)>div>input {
    height: 10em;
}
