body {
  padding-top: 65px;
  background-image: url(../images/utsg.JPG);
  color: #FFF;
  font: 16pt Georgia;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  font: 16pt Georgia;
}

#mainphoto {
  border: solid 3px #0c387f;
  border-radius: 50%;
  margin: 4%;
}

hr {
  border: #05F groove 3px;
}

#intro>div.col-center {
  margin-top: 2em;
  margin-bottom: -2em;
}

#intro {
  margin: 6% 0;
}

#intro>span.prof,
h2 {
  font: 18pt Georgia;
}

form>div:nth-child(3)>div>input {
  height: 10em;
}

.navbar-right,
#intro {
  font: 18pt Lobster;
}

#title,
.navbar-right>li>a.navs:active,
.navbar-right>li>a.navs:hover,
.navbar-right>li>a.navs:focus {
  color: #FFF;
  background: linear-gradient(to bottom, #119 0, #265a88 100%);
}

.navbar>div {
  background-color: #000;
}

.container {
  width: 80%;
}

.jumbotron {
  background: radial-gradient(circle at center, #265a88 10%, #004, #000 70%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glyphicon-fire {
  padding: 0, 1em;
}

footer {
  top: 90%;
}
