body {
    padding-top: 65px;
}

#mainphoto {
    border: #05F none 3px;
    border-radius: 50%;
    margin: 4%;
}

hr {
    border: #05F groove 3px;
}

.col-center {
    margin: 0 auto;
}

#intro {
    margin: 6% 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #05F;
    border-color: #285e8e;
    color: #000;
}

.btn-primary:active:focus {
    background-color: #000;
    border-color: #285e8e;
    color: #FFF;
}

form>div:nth-child(3)>div>input {
    height: 10em;
}
